<!-- Main Footer -->
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2017 <a href="http://www.uimatic.com/" , target='_blank' >Uimatic</a>.</strong> All rights reserved.
