<% provide(:title, "Category Posts") %>
	<div class="container">
    <div class="company-second-section mt-0">
      <h3><span class="position-relative">Lorem Ipsum</span></h3> 
    	<div id="category-posts">
    		<%= render 'post_categories/includes/category_posts' %>
    	</div>
    </div><!-- company-second-section-->
  </div><!--container -->