<% provide(:title, "All Posts") %>
<div class="container">
	<div class="company-second-section mt-0">
    <h3><span class="position-relative">Lorem Ipsum</span></h3> 
    <div id="see-all-posts">
    	<%= render 'blog_posts/includes/see_all_posts' %>
    </div>
  </div>
</div><!--container -->
