<% provide(:title, "Category related Posts") %>
<div class="container">
	<div class="company-second-section mt-0">
		<div id="see-all-category-posts">
			<%= render 'blog_posts/includes/see_all_posts' %>
		</div>
	</div>
</div>