body{
  display: flex; 
  min-height: 100vh;
  flex-direction: column;
  header{
    .top_bar {
      color: #fff;
      background-color: #64B5F6;
      width: 100%;
      height: 40px;
      line-height: 40px;
    }
  }

  .sidebar-toggle {
    height: 50px;
  }
  
  #img-loader {
     background: #000;
     opacity:0.5;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     display: none;
   }

   #load-image{
      height: 70px;
      width: 70px;
      left: 55%;
      top: 40%;
      position: fixed;
   }

.parallax-container {
    position: relative;
    height: 500px;
    overflow: hidden;
}

  main{
    flex: 1 0 auto;
    .cover_photo_container{
      height: 350px;
    }
    input#pac-input {
      background: white;
    }
    .right.social_button {
      position: absolute;
      right: 0;
      bottom: 9%;
    }
    .homepage_company_image {
      border: 1px solid #ddd;
      width: 235px;
      height: 200px;
      text-align: center;
      img{
        height: 100%;
      }

    }
    .center{
      text-align: center;
    }
    
    .skin-blue .sidebar-menu>li>a {
     border-left: 3px solid transparent;
    }
    .skin-blue .sidebar a {
     color: #b8c7ce;
    }
    
    .select-wrapper input.select-dropdown {
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: none;
      width: 100%;
      margin: 0 0 0 0;
      display: block;
    }
    /* .owl-theme .owl-controls .owl-page span{
      display: none;
    }
    */

    .album_wrap{
      .album_image_wrap{
        .album_image {
          border: 1px solid #DDD;
          height: 210px;
          text-align: center;
          padding: 5px 5px 5px 0;
          margin-bottom: 20px;
          position:relative;
          .single_image{
            margin: 0 auto;
          }

          .fancybox{
            img{
              height: auto;
              width: auto;
            }
          }
          .delete_image_link{
            position: absolute;
            top: 3px;
            right: 5px;
          }
          .tabs_album_name{
            text-align: center;
          }
        }
      }
    }
    .tabs-vertical {
      .tabs {
        height: auto;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        white-space: normal;
      }

      .tab {
        width: 100%;
        
        .active {
          -moz-transition: border-color .5s ease;
          -o-transition: border-color .5s ease;
          -webkit-transition: border-color .5s ease;
          transition: border-color .5s ease;
          border-right: 3px solid red;
        }

        :hover {
          border-right: 3px solid black;
        }
      }

      .indicator {
        display: none;
      }
    }
    .no-margin{
      margin: 0px; 
    }
    
    #map{
      width:100%;
      height:365px;
    }
    .download-button{
      margin-right: 8px;  
    }
  }
  footer{
    footer.page-footer{
      margin-top: 0px;
    }  
    .country-div ul li {
      display: inline-block;
      padding-right: 10px;
    }
  }
 
  .row .col.m9 {
    margin-left: 400px;
  }
  
}
